nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: silver;
  padding: px;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: .5;

}

ul { display: 'flex'; 
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

nav ul li a {
  display: block;
  border: 2px solid #000;
  padding: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  background-color: #000;
  color: #fff;
}

.full-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  position: relative;
  justify-content: center;
}

.backgroundImg {
  opacity: 0.5;
  position: relative;
  height: auto;
  top: 10%;
 z-index: -1;
  
}


.card {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  margin: 20px;
  z-index: 1;
}

.newCard{
  
  width: 75%;
}

.scores{
  text-align: center;
}

.live-scores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.live-box {
  border: 5px solid black;
  padding: 20px;
  margin-bottom: 10px;
  color: black;
  background-color: silver;
}

.game-box {
  border: 5px solid black;
  padding: 20px;
  margin-bottom: 10px;
  color: black;
  background-color: silver;
  cursor: pointer;
}

.teamLogo{
 width: 5em;
 padding: 10px;
}

.title {
  color: black;
  font-size: 300%;
}

.news{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.teams-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team {
  
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  
}

.teams-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.team-card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}


.newsCard{
  border: 5px solid black;
  padding: 20px;
  margin-bottom: 10px;
  color: black;
  background-color: silver;
}

@media only screen and (max-width: 768px) {
  .element {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .live-scores-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .live-box,
  .game-box {
    flex-basis: 45%;
    margin: 5px;
  }
}


@media screen and (max-width: 900px) {
  .teams-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .teams-grid {
    grid-template-columns: 1fr;
  }
}